@use "../abstracts/abstracts" as ab;

.hero {
    height: calc(100vh - 55px);
    background-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0, 0, 0, 0.2) 100%), url("../../img/img_header.jpg"); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    .container {
        height: calc(100vh - 70px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .info {
            padding-top: 100px;
            h1 {
                color: white;
                display: flex;
                flex-direction: column;
                font-size: 35px;
                font-weight: 200;
                margin-bottom: 10px;
                line-height: 50px;
                span {
                    font-weight: bold;
                    // font-size: 50px;
                    &::after {
                        content: "";
                        width: 90px;
                        height: 3px;
                        background-color: ab.$color-primary;
                        display: block;
                        margin-top: 12px;
                    }
                }
            }
    
            p {
                color: white;
                font-size: 18px;
                margin-bottom: 30px;
                font-family: 'Courier New', Courier, monospace
            }
    
            .btn{
               @include ab.boton();
            }
        }


        .social {
            display: flex;
            gap: 20px;
            padding-bottom: 30px;
            a {
                color: white;
                font-size: 20px;
                transition: color 0.3s;

                i {
                    color:white;
                    &:hover {
                        color: ab.$color-primary;
                    }
                }

            }
        }
    }

    @include ab.breakpoint(desktop) {
        height: calc(100vh - 69px);
        .container {
            h1 {
                font-size: 50px;
                line-height: 70px;
                span {
                    font-size: 70px;
                    &::after {
                        width: 125px;
                    }
                }
            }

        }
       
    }

}